<div id="footer-content">
    <div style="width: 500px; text-align: left; margin-right: 20px; float: left;">
    Todo o conteúdo e dados do Portal COMIGRAR estão disponíveis sob a licença <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.pt_BR">Creative Commons Atribuição 3.0 Unported (CC BY 3.0)</a>, exceto quando especificado em contrário e nos conteúdos replicados de outras fontes.
    </div>
    <div>O portal COMIGRAR foi desenvolvido pelo Laboratório Avançado de Produção, Pesquisa & Inovação em Software (LAPPIS)
    da Faculdade UnB Gama, utilizando software livre <a href="http://noosfero.org/">Noosfero</a>.</div>
</div>
<script type="text/javascript" src="http://barra.brasil.gov.br/barra.js?cor=verde"></script>
