<div id="barra-brasil">
</div>
<div id="barra-psocial">
  <div id="categories_menu">
    <%= render :file => 'categories.rhtml' %>
  </div>
</div><!-- #barra-psocial -->
<div id="search-header">
  <%= render :partial => 'shared/profile_search_form' %>
</div>

