@import url(../profile-base/style.css);

/* Main style page */
body {
    background: #FFF;
}

#wrap-1 {
    width: auto;
    margin: 0px;
}

#wrap-2 {
    width: 960px;
    margin: auto;
    border: 0px;
}

#main-content-wrapper-1,
#main-content-wrapper-2,
#main-content-wrapper-3,
#main-content-wrapper-4,
#main-content-wrapper-5,
#main-content-wrapper-6,
#main-content-wrapper-7,
#main-content-wrapper-8 {
    background-image: none;
    background: none;
}

/* Bar Psocial Style */

#theme-header {
    height: 40px;
    background-image: linear-gradient(bottom, #E8E8E8 20%, #FEFEFE 80%);
    background-image: -o-linear-gradient(bottom, #E8E8E8 20%, #FEFEFE 80%);
    background-image: -moz-linear-gradient(bottom, #E8E8E8 20%, #FEFEFE 80%);
    background-image: -webkit-linear-gradient(bottom, #E8E8E8 20%, #FEFEFE 80%);
    background-image: -ms-linear-gradient(bottom, #E8E8E8 20%, #FEFEFE 80%); 
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.2, #E8E8E8),
        color-stop(0.8, #FEFEFE)
    );
}

#profile-header {
    min-height: 150px;
}

#site-title { top: -40px; }

#user { top: -30px; }

#barra-brasil {
    box-shadow: 0px 0px 10px #DFDFDF inset;
    z-index: 9999;
    position: relative;
    width: 100%;
}

#barra-psocial {
    position: relative;
    width: 960px;
    margin: auto;
}
#assets-menu {
    background: #E8E8E8;
    top: 35px;
    left: 80px;
    min-width: 132px;
}
#assets-menu a {
    border: 1px solid #E8E8E8;
}

#search-header {
    position: relative;
    width: 960px;
    margin: auto;
}
#search-header .search-field {
    width: 200px;
    position: absolute;
    top: 100px;
    right: 20px;
    z-index: 999;
}
#search-header input.button.with-text {
    width: 22px;
    text-indent: -1000px;
    float: right;
    height: 30px;
    max-height: 30px;
    border: none;
    background-color: transparent;
}
#search-header #q {
    width: 170px;
    height: 25px;
    border-radius: 5px;
}

/* Social Buttons */
#social-buttons {
    float: right;
    text-align: right;
    width: 200px;
    margin-top: -50px;
    height: 30px;
}

#social-buttons a {
    display: inline-block;
    border: 1px solid red;
    width: 24px;
    height: 24px;
    background: #dfdfdf;
    margin-right: 3px;
}

#social-buttons span { display: none; }

/* Title Header */

#content .main-block h1,
#content .main-block h2,
#content .main-block h3,
#content .main-block h4 {
    font-family:  'Open Sans', Arial, Helvetica, sans-serif;
}

#content .main-block h1,
#not-found h1,
#access-denied h1 {
    color: #2C67CD;
    font-size: 1.7em;
    padding: 7px 0;
    margin-left: 0 !important;
    padding-left: 0.3em;
    border-bottom: 1px solid #CCCCCC;
    border-top: 2px solid #172838;
}

#content .title {
    font-weight: normal; !important;
    padding-right: 70px;
}

#content .main-block h1 {
    font-size: 2.3em !important;
    text-transform: uppercase;
    font-weight: bold !important;
}

#content .main-block h2 {
    font-size: 1.8em !important;
    min-height: 48px;
}

#content .main-block h3 {
    font-size: 1.5em !important;
    min-height: 48px;
}

#content .main-block h4 {
    font-size: 1.3em !important;
    min-height: 48px;
}

div#article-parent {
    position: absolute;
    right: 0px;
    top: 0px;
}

/* Menu List left */

#content .box-2 .block-title {
    font-size: 12px;
    text-align: left;
    border-top: 4px solid #757575;
    background: #eeefff;
    border-bottom: none;
    color: #757575;
    padding: 8px 8px 24px 10px;
    text-transform: uppercase;
    margin: 0;
}

#content .box-2 .link-list-block li a.link-this-page {
    width: auto;
    border-right: none;
    font-weight: bold;
    color: #436976 !important;
    border-top: 2px solid #64946e !important;
    border-bottom: 2px solid #64946e !important;
    background-color: #eeefff;
    border-radius: 0px;
}

#content .box-2 .link-list-block li a {
    font-size: 14px;
    line-height: 1em;
    color: #436976;
    background-color: #FFF;
    border-radius: none;
    padding: 0.6em 1.5em;
}

#content .box-2 .link-list-block li a:hover {
    background-color: #FFF;
    color: #000;
}

#content .box-2 .link-list-block li {
    border-bottom: 1px solid #ddd;
    border-top: none;
    padding: 0;
    margin: 0;
}

/* Blocks main style */

#content .box-1 .block {
    background: #eeefff;
    width: 48%;
    float: left;
    margin-right: 10px;
}

#content .box-1 .block-title {
    background: #757575;
    padding: 0.6em 1.5em;
    color: #FFF;
    text-transform: uppercase;
    font-variant: normal;
}

#content .box-1 .main-block {
    background: #FFF;
    width: 100%;
    clear: both;
}

#content .box-1 .article-block {
    background: none;
}

#content .blog-post .title {
    text-align: left;
}

/* Box styles */
.box-1 {
    margin: 0 0 0 170px;
}

.box-2 {
    width: 160px;
}

#content .box-3 .block {
    width: 210px;
    margin: 0px 0px 0px 30px;
    float: left;
}

/* Editorial Area */

#content .box-1 .news-area {
    width: 32%;
    margin-right: 10px;
}

#content .box-1 a {
    text-decoration: none;
}

#content .box-1 .news-area h3 {
    background: #DFDFDF;
    text-decoration: none;
    line-height: 40px;
    height: 40px;
    min-height: 40px;
    border-top: 8px solid #545454;
    padding-left: 10px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 20px;
}

#content .box-1 .news-area a.news-see-more {
    position: relative;
    border-top: 3px solid #545454;
    background-color: #DFDFDF;
    width: auto;
    display: block;
    text-align: right;
    padding: 5px 15px;
}

#content .box-1 .news-area ul {
    background: #FFF;
    border: none;
    background-image: none;
}

.blog-post {
    background: none !important;
    margin: 0px;
}

/* Block My Network style */

#content .my-network-block {
    background: #eeefff;
}

#content .my-network-block .block-title {
    background: #757575;
    padding: 0.6em 1.5em;
    color: #FFF;
}

#content .my-network-block ul {
    padding: 10px 0px 10px 20px;
}

#content .my-network-block .my-network-actions a.button {
    line-height: 1em;
    height: auto;
    width: 100px;
    display: block;
    margin-bottom: 5px;
}

/* Blocks profiles and enterprises */
.box-1 .menu-submenu {
    bottom: 80px;
    right: -40px;
}

.box-1 .common-profile-list-block .vcard {
    border-radius: 0px;
    -moz-border-radius: 0px;
}

.box-1 .common-profile-list-block .profile_link {
    width: 65px;
    height: 80px;
}

.box-1 .common-profile-list-block span {
 width: auto;
}

.box-1 .common-profile-list-block .profile-image {
    display: block;
    height: auto;
    width: auto;
    text-align: center;
    margin: 0px;
    padding: 0px;
    padding-bottom: 5px;
}

.box-1 .common-profile-list-block {
    margin-left: 15px;
}

.box-1 .block-footer-content {
    clear: both;
    text-align: right;
    font-size: 11px;
    color: #000;
    position: relative;
    padding: 5px;
    background: #DFDFDF;
    border-top: 3px solid #545454;
}

#content .box-1 .block-footer-content a {
    position: relative;
}


/* Menu List footer */

#content .box-3 .block-title {
    font-size: 12px;
    text-align: left;
    border-top: none;
    background: #FFF;
    border-bottom: none;
    color: #757575;
    padding: 5px;
    text-transform: uppercase;
    margin: 0;
}

#content .box-3 .link-list-block li a.link-this-page {
    width: auto;
    border-right: none;
    font-weight: bold;
    background-color: #eeefff;
    border-radius: 0px;
}

#content .box-3 .link-list-block li a {
    font-size: 14px;
    line-height: 1em;
    color: #545454;
    background-color: #FFF;
    border-radius: none;
    padding: 0.6em 1.5em;
}

#content .box-3 .link-list-block li a:hover {
    background-color: #FFF;
    color: #436976;
}

#content .box-3 .link-list-block li {
    border-bottom: none;
    border-top: none;
    padding: 0;
    margin: 0;
}

.agenda-item a {
  color: black;
}
.agenda-item a:visited {
  color: black;
  font-weight: normal;
}
.agenda-item a:hover {
  color: black;
  text-decoration: underline !important;
}