@import url(../profile-base/style.css);

/* Main style page */
body {
    background: #FFF;
}

#wrap-1 {
    width: auto;
    margin: 0px;
}

#wrap-2 {
    width: 960px;
    margin: auto;
    border: 0px;
}

#main-content-wrapper-1,
#main-content-wrapper-2,
#main-content-wrapper-3,
#main-content-wrapper-4,
#main-content-wrapper-5,
#main-content-wrapper-6,
#main-content-wrapper-7,
#main-content-wrapper-8 {
    background-image: none;
    background: none;
}

/* Bar Psocial Style */

#theme-header {
    height: 40px;
    background-image: linear-gradient(bottom, #E8E8E8 20%, #FEFEFE 80%);
    background-image: -o-linear-gradient(bottom, #E8E8E8 20%, #FEFEFE 80%);
    background-image: -moz-linear-gradient(bottom, #E8E8E8 20%, #FEFEFE 80%);
    background-image: -webkit-linear-gradient(bottom, #E8E8E8 20%, #FEFEFE 80%);
    background-image: -ms-linear-gradient(bottom, #E8E8E8 20%, #FEFEFE 80%); 
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.2, #E8E8E8),
        color-stop(0.8, #FEFEFE)
    );
}

#site-title { top: -40px; }

#user { top: -30px; }


/* Title Header */

#content .main-block h1, 
#content .main-block h2,
#content .main-block h3,
#content .main-block h4 {
    font-family:  'Open Sans', Arial, Helvetica, sans-serif;
}

#content .main-block h1,
#not-found h1,
#access-denied h1 {
    color: #2C67CD;
    font-size: 1.7em;
    padding: 7px 0;
    margin-left: 0 !important;
    padding-left: 0.3em;
    border-bottom: 1px solid #CCCCCC;
    border-top: 2px solid #172838;
}

#content .title {
    font-weight: normal; !important;
    padding-right: 70px;
}

#content .main-block h1 {
    font-size: 2.3em !important;
    text-transform: uppercase;
    font-weight: bold !important;
}

#content .main-block h2 {
    font-size: 1.8em !important;
    min-height: 48px;
}

#content .main-block h3 {
    font-size: 1.5em !important;
    min-height: 48px;
}

#content .main-block h4 {
    font-size: 1.3em !important;
    min-height: 48px;
}

/* Article Style */
div#article-parent {
    position: absolute;
    right: 0px;
    top: 0px;
}

/*  Panel Right Style */
.box-1 {
    margin: 0 0 0 170px;
}

/* Panel Left Style */

.box-2 {
    width: 160px;
}


/* Menu List left */

#content .box-2 .block-title {
    font-size: 12px;
    text-align: left;
    border-top: 4px solid #00510f;
    background: #eeefff;
    border-bottom: none;
    color: #00510f;
    padding: 8px 8px 24px 10px;
    text-transform: uppercase;
    margin: 0;
}

#content .box-2 .link-list-block li a.link-this-page {
    width: auto;
    border-right: none;
    font-weight: bold;
    color: #436976 !important;
    border-top: 2px solid #64946e !important;
    border-bottom: 2px solid #64946e !important;
    background-color: #eeefff;
    border-radius: 0px;
}

#content .box-2 .link-list-block li a {
    font-size: 14px;
    line-height: 1em;
    color: #436976;
    background-color: #FFF;
    border-radius: none;
    padding: 0.6em 1.5em;
}

#content .box-2 .link-list-block li a:hover {
    background-color: #FFF;
    color: #000;
}

#content .box-2 .link-list-block li {
    border-bottom: 1px solid #ddd;
    border-top: none;
    padding: 0;
    margin: 0;
}

/* */
